html,
body {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.navigation img {
  position: fixed;
  width: 100%;
  z-index: -100;
}

form {
  text-align: center;
  z-index: 5;
}

.currentContent {
  padding-left: 3rem;
}

.cityTemp {
  font-size: 32px;
}

.forecastContent {
  display: block;
  width: 50%;
}

.forecastGroup {
  display: flex;
}

.forecastSubGroup {
  height: 30%;
  padding: 10px;
}

.historyContent {
  width: 33%;
}
